@model ICollection<FirstTask.Models.Dtos.TipDto>
@{
    <h3>Tips from our stars</h3>
    foreach (var tip in Model)
    {
        <video controls="controls">
            <source src="@tip.VideoPath" type="@tip.VideoExtension" />
        </video>
        <h5>@tip.Title</h5>
        <h5>@tip.description</h5>
    }
}